In [25]:
# Install NBA API
!pip install nba_api

Requirement already satisfied: nba_api in /opt/conda/lib/python3.9/site-packages (1.1.11)
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from nba_api) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (2.0.0)

In [57]:
import pandas as pd
import pickle
file = open('../data/players_stats.pkl', 'rb')
stats = pickle.load(file)
file.close()

In [58]:
final_stats = pd.DataFrame()
for player in stats:
    name = player['info'].common_player_info.get_data_frame()['DISPLAY_FIRST_LAST'][0]
    data = player['career'].season_totals_regular_season.get_data_frame()
    data.insert(1, 'PLAYER_NAME', name)
    final_stats = final_stats.append(data)

In [59]:
final_stats

,PLAYER_ID,PLAYER_NAME,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,Alaa Abdelnaby,1990-91,00,1610612757,POR,23.0,43,0,290.0,...,0.568,27.0,62.0,89.0,12,4.0,12.0,22.0,39,135
1,76001,Alaa Abdelnaby,1991-92,00,1610612757,POR,24.0,71,1,934.0,...,0.752,81.0,179.0,260.0,30,25.0,16.0,66.0,132,432
2,76001,Alaa Abdelnaby,1992-93,00,1610612749,MIL,25.0,12,0,159.0,...,0.75,12.0,25.0,37.0,10,6.0,4.0,13.0,24,64
3,76001,Alaa Abdelnaby,1992-93,00,1610612738,BOS,25.0,63,52,1152.0,...,0.76,114.0,186.0,300.0,17,19.0,22.0,84.0,165,514
4,76001,Alaa Abdelnaby,1992-93,00,0,TOT,25.0,75,52,1311.0,...,0.759,126.0,211.0,337.0,27,25.0,26.0,97.0,189,578
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1627826,Ivica Zubac,2018-19,00,0,TOT,22.0,59,37,1039.0,...,0.802,115,247,362,63,14,51,70,137,525
5,1627826,Ivica Zubac,2019-20,00,1610612746,LAC,23.0,72,70,1326.0,...,0.747,197,346,543,82,16,66,61,168,596
6,1627826,Ivica Zubac,2020-21,00,1610612746,LAC,24.0,72,33,1609.0,...,0.789,189,330,519,90,24,62,81,187,650
7,1627826,Ivica Zubac,2021-22,00,1610612746,LAC,24.0,17,17,427.0,...,0.741,43,99,142,21,6,16,18,35,173
0,78650,Matt Zunic,1948-49,00,1610610036,WAS,29.0,56,None,None,...,0.706,None,None,None,50,None,None,None,182,273

In [61]:
salary = pd.read_csv('../data/salary.csv')

In [62]:
salary

                   player   season   nominal        real
0              A.C. Green  1990-91   1750000   3473015.0
1              A.C. Green  1991-92   1750000   3317240.0
2              A.C. Green  1992-93   1750000   3217865.0
3              A.C. Green  1993-94   1885000   3365286.0
4              A.C. Green  1994-95   6472600  11274438.0
...                   ...      ...       ...         ...
17761  Zydrunas Ilgauskas  2008-09  10841615  12773054.0
17762  Zydrunas Ilgauskas  2009-10  11541074  13793930.0
17763  Zydrunas Ilgauskas  2010-11   1352181   1599285.0
17764      Zylan Cheatham  2019-20     79568     80081.0
17765      Zylan Cheatham  2020-21   1445697   1445697.0

[17766 rows x 4 columns]

In [63]:
salary.columns = ['PLAYER_NAME', 'SEASON_ID', 'SALARY_NOMINAL', 'SALARY_REAL']

In [66]:
final_df = final_stats.set_index(['PLAYER_NAME', 'SEASON_ID']).join(salary.set_index(['PLAYER_NAME', 'SEASON_ID']), how='left').dropna(how='all', subset=['SALARY_NOMINAL', 'SALARY_REAL'])

In [68]:
len(final_df.reset_index()['PLAYER_NAME'].unique())

2497

In [69]:
final_df.to_csv('../data/stats.csv')

In [70]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 16341 entries, ('A.C. Green', '1990-91') to ('Zylan Cheatham', '2019-20')
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          16341 non-null  object
 1   LEAGUE_ID          16341 non-null  object
 2   TEAM_ID            16341 non-null  object
 3   TEAM_ABBREVIATION  16341 non-null  object
 4   PLAYER_AGE         16341 non-null  float64
 5   GP                 16341 non-null  object
 6   GS                 16341 non-null  object
 7   MIN                16341 non-null  object
 8   FGM                16341 non-null  object
 9   FGA                16341 non-null  object
 10  FG_PCT             16341 non-null  object
 11  FG3M               16341 non-null  object
 12  FG3A               16341 non-null  object
 13  FG3_PCT            16341 non-null  object
 14  FTM                16341 non-null  object
 15  FTA                16341 non-null  object
 16  FT_PCT             16341 non-null  object
 17  OREB               16341 non-null  object
 18  DREB               16341 non-null  object
 19  REB                16341 non-null  object
 20  AST                16341 non-null  object
 21  STL                16341 non-null  object
 22  BLK                16341 non-null  object
 23  TOV                16341 non-null  object
 24  PF                 16341 non-null  object
 25  PTS                16341 non-null  object
 26  SALARY_NOMINAL     16341 non-null  float64
 27  SALARY_REAL        15927 non-null  float64
dtypes: float64(3), object(25)
memory usage: 3.7+ MB