In [1]:
# Install NBA API
!pip install nba_api

Collecting nba_api
  Using cached nba_api-1.1.11-py3-none-any.whl
Requirement already satisfied: requests in /opt/conda/lib/python3.9/site-packages (from nba_api) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests->nba_api) (2.0.0)
Installing collected packages: nba-api
Successfully installed nba-api-1.1.11

In [2]:
import pickle
file = open('../data/players_stats.pkl', 'rb')
x = pickle.load(file)
file.close()

In [3]:
len(x)

4723

In [4]:
x[:3]

[{'id': 76001,
  'info': <nba_api.stats.endpoints.commonplayerinfo.CommonPlayerInfo at 0xffff9a97b370>,
  'career': <nba_api.stats.endpoints.playercareerstats.PlayerCareerStats at 0xffff6c7cafa0>},
 {'id': 76002,
  'info': <nba_api.stats.endpoints.commonplayerinfo.CommonPlayerInfo at 0xffff6c7de8e0>,
  'career': <nba_api.stats.endpoints.playercareerstats.PlayerCareerStats at 0xffff6c7debb0>},
 {'id': 76003,
  'info': <nba_api.stats.endpoints.commonplayerinfo.CommonPlayerInfo at 0xffff6c7f74c0>,
  'career': <nba_api.stats.endpoints.playercareerstats.PlayerCareerStats at 0xffff6c7f7790>}]

In [5]:
x[858]['info'].get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,203496,Robert,Covington,Robert Covington,"Covington, Robert",R. Covington,robert-covington,1990-12-14T00:00:00,Tennessee State,USA,...,robert_covington,2013,2021,Y,Y,Y,Undrafted,Undrafted,Undrafted,N

In [6]:
x[858]['career'].get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203496,2013-14,00,1610612745,HOU,23.0,7,0,34.0,6,...,0.000,2,3,5,0,2,0,1,3,16
1,203496,2014-15,00,1610612755,PHI,24.0,70,49,1956.0,299,...,0.820,65,251,316,105,97,31,128,189,943
2,203496,2015-16,00,1610612755,PHI,25.0,67,49,1903.0,274,...,0.791,65,354,419,97,105,40,143,232,858
3,203496,2016-17,00,1610612755,PHI,26.0,67,67,2119.0,292,...,0.822,92,344,436,102,127,69,131,203,864
4,203496,2017-18,00,1610612755,PHI,27.0,80,80,2531.0,345,...,0.853,55,378,433,156,137,72,126,238,1009
5,203496,2018-19,00,1610612755,PHI,28.0,13,13,440.0,50,...,0.739,7,60,67,14,24,23,22,45,147
6,203496,2018-19,00,1610612750,MIN,28.0,22,22,763.0,106,...,0.773,21,105,126,32,50,24,25,81,318
7,203496,2018-19,00,0,TOT,28.0,35,35,1203.0,156,...,0.764,28,165,193,46,74,47,47,126,465
8,203496,2019-20,00,1610612750,MIN,29.0,48,47,1411.0,216,...,0.798,36,251,287,56,80,45,73,148,615
9,203496,2019-20,00,1610612745,HOU,29.0,22,21,726.0,89,...,0.800,27,149,176,32,35,48,30,72,255
10,203496,2019-20,00,0,TOT,29.0,70,68,2137.0,305,...,0.798,63,400,463,88,115,93,103,220,870
11,203496,2020-21,00,1610612757,POR,30.0,70,70,2243.0,204,...,0.806,61,405,466,117,101,84,64,195,593
12,203496,2021-22,00,1610612757,POR,30.0,17,17,465.0,42,...,1.000,6,73,79,21,19,18,16,36,118

In [7]:
[player for player in x if player['id'] == 203076][0]['info'].get_data_frames()[0]

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,203076,Anthony,Davis,Anthony Davis,"Davis, Anthony",A. Davis,anthony-davis,1993-03-11T00:00:00,Kentucky,USA,...,anthony_davis,2012,2021,N,Y,Y,2012,1,1,Y

In [1]:
# [player for player in x]

In [9]:
[player for player in x if player['id'] == 203076][0]['career'].get_available_data()

dict_keys(['SeasonTotalsRegularSeason', 'CareerTotalsRegularSeason', 'SeasonTotalsPostSeason', 'CareerTotalsPostSeason', 'SeasonTotalsAllStarSeason', 'CareerTotalsAllStarSeason', 'SeasonTotalsCollegeSeason', 'CareerTotalsCollegeSeason', 'SeasonTotalsShowcaseSeason', 'CareerTotalsShowcaseSeason', 'SeasonRankingsRegularSeason', 'SeasonRankingsPostSeason'])

In [10]:
[player for player in x if player['id'] == 203076][0]['career'].season_totals_all_star_season.get_data_frame()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2013-14,00,1610616834,WST,21.0,1,0,10.0,5,...,0.0,0,1,1,0,2,0,1,0,10
1,203076,2015-16,00,1610616834,WST,23.0,1,0,15.0,12,...,0.0,3,3,6,0,1,0,0,1,24
2,203076,2016-17,00,1610616834,WST,24.0,1,1,32.0,26,...,0.0,4,6,10,0,2,0,1,1,52
3,203076,2017-18,00,1610616833,LBN,25.0,1,1,17.0,6,...,0.0,1,1,2,1,0,0,1,2,12
4,203076,2018-19,00,1610616834,LBN,26.0,1,0,5.0,2,...,0.0,0,1,1,0,0,0,0,0,5
5,203076,2019-20,00,1610616834,LBN,27.0,1,1,20.0,9,...,0.5,2,7,9,1,3,3,1,3,20

In [11]:
[player for player in x if player['id'] == 203076][0]['career'].get_data_frames()[4]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2013-14,00,1610616834,WST,21.0,1,0,10.0,5,...,0.0,0,1,1,0,2,0,1,0,10
1,203076,2015-16,00,1610616834,WST,23.0,1,0,15.0,12,...,0.0,3,3,6,0,1,0,0,1,24
2,203076,2016-17,00,1610616834,WST,24.0,1,1,32.0,26,...,0.0,4,6,10,0,2,0,1,1,52
3,203076,2017-18,00,1610616833,LBN,25.0,1,1,17.0,6,...,0.0,1,1,2,1,0,0,1,2,12
4,203076,2018-19,00,1610616834,LBN,26.0,1,0,5.0,2,...,0.0,0,1,1,0,0,0,0,0,5
5,203076,2019-20,00,1610616834,LBN,27.0,1,1,20.0,9,...,0.5,2,7,9,1,3,3,1,3,20

In [19]:
[player for player in x if player['id'] == 203076][0]['career'].season_totals_regular_season.get_data_frame()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,28.0,18,18,631.0,175,...,0.768,58,131,189,55,22,41,40,42,442

In [21]:
[player for player in x if player['id'] == 203076][0]['career'].season_totals_regular_season.get_json()

'{"headers": ["PLAYER_ID", "SEASON_ID", "LEAGUE_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_AGE", "GP", "GS", "MIN", "FGM", "FGA", "FG_PCT", "FG3M", "FG3A", "FG3_PCT", "FTM", "FTA", "FT_PCT", "OREB", "DREB", "REB", "AST", "STL", "BLK", "TOV", "PF", "PTS"], "data": [[203076, "2012-13", "00", 1610612740, "NOH", 20.0, 64, 60, 1846.0, 349, 676, 0.516, 0, 6, 0.0, 169, 225, 0.751, 165, 357, 522, 63, 75, 112, 89, 158, 867], [203076, "2013-14", "00", 1610612740, "NOP", 21.0, 67, 66, 2358.0, 522, 1005, 0.519, 2, 9, 0.222, 348, 440, 0.791, 207, 466, 673, 105, 89, 189, 109, 200, 1394], [203076, "2014-15", "00", 1610612740, "NOP", 22.0, 68, 68, 2455.0, 642, 1199, 0.535, 1, 12, 0.083, 371, 461, 0.805, 173, 523, 696, 149, 100, 200, 95, 141, 1656], [203076, "2015-16", "00", 1610612740, "NOP", 23.0, 61, 61, 2164.0, 560, 1136, 0.493, 35, 108, 0.324, 326, 430, 0.758, 130, 497, 627, 116, 78, 125, 121, 148, 1481], [203076, "2016-17", "00", 1610612740, "NOP", 24.0, 75, 75, 2708.0, 770, 1526, 0.505, 40, 134, 0.299, 519, 647, 0.802, 172, 712, 884, 157, 94, 167, 181, 168, 2099], [203076, "2017-18", "00", 1610612740, "NOP", 25.0, 75, 75, 2727.0, 780, 1462, 0.534, 55, 162, 0.34, 495, 598, 0.828, 187, 644, 831, 174, 115, 193, 162, 159, 2110], [203076, "2018-19", "00", 1610612740, "NOP", 26.0, 56, 56, 1850.0, 530, 1026, 0.517, 48, 145, 0.331, 344, 433, 0.794, 174, 498, 672, 218, 88, 135, 112, 132, 1452], [203076, "2019-20", "00", 1610612747, "LAL", 27.0, 62, 62, 2131.0, 551, 1096, 0.503, 72, 218, 0.33, 444, 525, 0.846, 142, 435, 577, 200, 91, 143, 154, 156, 1618], [203076, "2020-21", "00", 1610612747, "LAL", 28.0, 36, 36, 1162.0, 301, 613, 0.491, 26, 100, 0.26, 158, 214, 0.738, 62, 224, 286, 110, 45, 59, 74, 60, 786], [203076, "2021-22", "00", 1610612747, "LAL", 28.0, 18, 18, 631.0, 175, 335, 0.522, 6, 35, 0.171, 86, 112, 0.768, 58, 131, 189, 55, 22, 41, 40, 42, 442]]}'